<section class="row">
  
  <div class="col-sm-10 col-md-8 col-md-offset-2">
    <h2>Oops</h2>
    <p>If you've forgotten your password, then please fill in your username and email address you used to register, and we'll send you a reset code by email.</p>
    <form action="/users/forgot" method="post" id="forgotPassword">
      <input type="text" required autocomplete="off" id="forgotuid" placeholder="username" name="username" /><span id="erroruid" class=""></span><br />
      <input type="email" required autocomplete="off" id="forgotemail" placeholder="bob@example.com" name="email" /><br />
      <input type="submit" class="btn btn-primary" id="forgotsubmit" value="Find Me" />
    </form>    
  </div>

</section>