<section class="content row justify-content-center">
  <div class="col-md-8">
    <h2>Send a bulk email to players</h2>

    <form action="/admin/bulkmail" id="sendInvite" method="post">
      <fieldset class="form-group">
        <textarea placeholder="email message" class="form-control" name="message" id="message" rows="6"></textarea>
        <input type="submit" class="form-control btn btn-primary" value="Send mail" /><br />
      </fieldset>
    </form>
  </div>

</section>
