<section class="content row justify-content-center">
  <div class="col-md-8">
    <h2>Payments <i class="fas fa-lock" title="Admin function"></i></h2>
    <table id="payments" class="list table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Paid?</th>
        </tr>
      </thead>
      <tbody>
        {{#each users }}
        <tr>
          <td>{{ username }}</td>
          <td>
          {{#if paid }}
          <i class="fas fa-check"></i>
          {{ else }}
          <span style="color: green; font-weight: bold;"></span>
          <input type="checkbox" data-uid="{{ id }}" />
          {{/if }}
          </td>
        </tr>
        {{/each }}
      </tbody>
    </table>
  </div>

</section>
