<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head }}
  </head>
  <body>
    {{>flash }}
    <header>
      {{>menubar }}      
    </header>
    <main role="container" class="">
      {{{ body }}}
    </main>
    {{>footer }}
    {{>debug }}
  </body>
</html>