{{!-- template for rejecting a player joining a user league --}}
<p>Hi {{ user }},</p>

<p>You made a request to join a private user league ({{ league }}) in World Cup Goalmine.</p>

<p>Unfortunately your request has been declined by the league organiser or an administrator. You can still apply to join other private leagues, or join a public league</p>

<footer>
  <hr />
  World Cup Goalmine v{{ app.version }} ({{ app.name }})<br />
  <p><small style="color: #333;">mail sent by <a href="https://mailgun.org">mailgun</a>.</small></p>
</footer>