{{!-- template for rejected new league requests --}}
<p>Hi {{ user }},</p>

<p>You made a request to create a new user league ({{ league }}) in Goalmine.</p>

<p>Unfortunately this has been rejected by an administrator. You can still request other new leagues through the following link: <a href="https://worldcup.goalmine.eu/leagues/">worldcup.goalmine.eu/leagues/</a></p>

<footer>
  <hr />
  World Cup Goalmine v{{ app.version }} ({{ app.name }})<br />
  <p><small style="color: #333;">mail sent by <a href="https://mailgun.org">mailgun</a>.</small></p>
</footer>