<p>Hi {{ user }},</p>

<p>Thanks for your payment for World Cup Goalmine. This has now been processed and you will appear in the main table and be eligible for prizes.</p>

<footer>
  <hr />
  World Cup Goalmine v{{ app.version }} ({{ app.name }})
  <small>mail sent by <a href="https://mailgun.org">mailgun</a>.</small>
</footer>