<p>Hi {{ user }},</p>

<p>Thank you for your payment for World Cup 2018 Goalmine. This has now been successfully processed and you will appear in the main table and be eligible for prizes.</p>

<footer>
  <hr />
  World Cup Goalmine v{{ app.version }} ({{ app.name }})<br />
  <p><small style="color: #333;">mail sent by <a href="https://mailgun.org">mailgun</a>.</small></p>
</footer>