.longdate {
  display: none;
}
.shortdate {
  display: table-cell;
}

td.hidesmall, th.hidesmall {
  display: none;
}

@media (min-width: 992px) {
  td.date::before {
    content: attr(data-ld);
  }
  td.date span {
    display: none;
  }

  td.hidesmall, th.hidesmall {
    display: table-cell;
  }

  table.match td, table.match th {
    font-size: 2em;
  }

  table.league th, table.league td {
    font-size: 1.3em;
  }

  .team-logo {
    max-width: 60%;
  }

}