.table {
  width: 80%;
  margin: 0 auto 1em auto;
  td, th {
    padding: 0.5em;
  }
}

// colours for prediction outcomes
.pts-1, .pts-2 {
  background-color: $cr;
}

.pts-3, .pts-6 {
  background-color: $cd;
}

.pts-5, .pts-10 {
  background-color: $cs;
}

.joker {
  background-image: url(../img/joker_icon.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.pts--1 {
    background-color: $wj;
}

// all cells that hold a score
.score {
  width: 3em;
  text-align: center;
}

.pred span.score {
  padding: 11px;
}

caption {
  caption-side: top;
  text-align: center;
  font-weight: bold;
}

table.preds {
  width: 90%;
  margin: 1em auto;
}

#grouptable {
  // select first two rows in a group (current qualifiers)
  tr:nth-child(-n+2) td {
    background-color: $table_quals;
  }
  // style the selected team
  tr.self td {
    font-weight: bold;
  }

}

#teams {
  tr:nth-child(4n) td {
    border-bottom: 2px solid black;
  }
}

table.match {
  width: 80%;
  max-width: 90%;
  margin: 0 auto;
  th, td {
    font-size: 1.2em;
    padding: 0;
    color: #eee;
  }
  .team-flag {
    width: 3em;
  }
  td.matchresult {
    background-color: lighten(#666, 10%) !important;
    max-width: 3em;
  }
  td a {
    color: #eee;
    max-width: 10em;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 2.2;
    padding: 0;
    &:hover {
      background-color: lighten(#666, 10%);
      text-decoration: none;
    }
  }
  tr:nth-child(1) td {
    text-align: center;
    background-color: #666;
    max-width: 10em;
  }
}

span.ajax {
  margin-left: -1.2em;
  min-width: 1.5em;
  display: inline-block;
  color: green;
  opacity: 1;

  &.hide {
    opacity: 0;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
  }
}
