.table {
  width: 100%;
  margin: 0 auto 1em auto;
  td, th {
    padding: 0.5em;
  }
}

// colours for prediction outcomes
.pts-1, .pts-2 {
  background-color: $cr;
}

.pts-3, .pts-6 {
  background-color: $cd;
}

.pts-5, .pts-10 {
  background-color: $cs;
}

.joker {
  background-image: url(../img/joker_icon.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.pts--1 {
    background-color: $wj;
}

// all cells that hold a score
.score {
  width: 3em;
  text-align: center;
}

.pred span.score {
  padding: 11px;
}

// global set table captions to the top
caption {
  caption-side: top;
  text-align: center;
  font-weight: bold;
}

// style rows for unpaid players in league tables
.unpaid td {
  background-color: #ddd;
  font-style: italic;
}

table.preds {
  width: 90%;
  margin: 1em auto;
  th {
    background-color: $table-headers-bg;
    color: $table-headers-fg;
    border-bottom: none;
  }
  tr.expired td {
    background-color: #ddd;
  }
}

// column styles for fixed-layout tables
td.away {
  text-align: left;
}
td.home {
  text-align: right;
}
td.score, th.score {
  max-width: 3em;
}
td.narrow, th.narrow {
  max-width: 5em;
}

// styling for group tables (/teams/view)
table.group {
  // select first two rows in a group (current qualifiers)
  tr:nth-child(-n+2) td {
    background-color: $table-quals;
    border-bottom: 1px solid darken($table-quals, 10%);
  }
  th {
    border-bottom: none;
  }
  // style the selected team
  tr.self td {
    font-weight: bold;
  }
  th {
    background-color: $table-headers-bg;
    color: $table-headers-fg;
  }
  th, td {
    text-align: center;
  }
  th:first-child, td:first-child {
    text-align: left;
  }
  th:last-child, td:last-child {
    text-align: right;
  }

}

table.list {
  table-layout: fixed;
  th {
    background-color: $table-headers-bg;
    color: $table-headers-fg;
    border-bottom: none;
  }
  th:last-child, td:last-child {
    text-align: right;
  }
}

// border between different groups (every 4) in teams/index
#teams tr:nth-child(4n) td {
    border-bottom: 2px dashed lighten($table-headers-bg, 30%);
}

table.match {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  th, td {
    font-size: 1.2em;
    padding: 0;
    color: #eee;
  }
  .team-flag {
    width: 3em;
  }
  td.matchresult {
    background-color: lighten(#666, 10%) !important;
    max-width: 3em;
  }
  td a {
    color: #eee;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 2.2;
    padding: 0;
    &:hover {
      background-color: lighten(#666, 10%);
      color: gold;
      text-decoration: none;
    }
  }
  tr:nth-child(1) td {
    text-align: center;
    background-color: #666;
    max-width: 10em;
  }
}

.scorers {
  td {
    vertical-align: top;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    font-size: 1.1rem;
    color: black;
    padding: 0 0.4rem;
  }
  svg.p {
    color: green;
  }
  svg.o {
    color: red;
  }
}

span.ajax {
  min-width: 1.5em;
  display: inline-block;
  color: green;
  opacity: 1;

  &.hide {
    opacity: 0;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
  }
}
