<section class="row content" style="padding-bottom: 0;">
  <div id="bg400" class="container-fluid">
    <div class="col-sm-6">
      <h2 style="font-size: 4em; font-weight: bold;">404</h2>
      <p>Sorry, couldn't find the thing you requested.</p>
      <p>Try one of the <!-- <img style="height: 1em; width: 1em" src="/img/shirt.svg" alt="shirt"> --> {{>shirt }} menu items at the bottom of the page.</p>
    </div>
  </div>
</section>
