<section class="row content" style="padding-bottom: 0;">
  <div id="bg404" class="container-fluid">
    <div class="col-sm-6">
      <h2>404</h2>
      <p>Couldn't find that thing</p>
    </div>
  </div>
</section>
<style>
#bg404 {
  background-image: url(/img/sitedown.jpg);
  background-position: center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  min-height: 600px;
  //padding-top: 66.2%;
}

#bg404 div {
  background-color: rgba(240, 240, 240, 0.7);
  height: 80%;
  margin: 2em;
}

</style>