@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);
@import url(/assets/flags/css/flag-icon.min.css);

// prediction colours
$cd: #ff0; // correct goal difference
$cs: #0f0; // correct score
$cr: #66f; // correct result
$wj: #f66; // wrong result on joker

// block elements
$headers: rgb(163,21,21);
$background: #141301;
$content: #fcfcfc;
$sidebar-head: $background;

// tables
$table-headers-bg: $background;
$table-headers-fg: #eee;
$table-quals: #6c6; // qualifying teams in group table

$logo-gold: #f4d632;

// partials
@import 'sass/_tables';
@import 'sass/_forms';

body {
  background-color: $background;
}

// debug screen for showing JSON results
.debug {
  background-color: $background;
  color: white;
  font-family: monospace;
  pre {
    color: inherit;
  }
}

header {
  background-color: $headers;
  color: white;
  padding: 0.2em;
  .badge {
    margin: 0 0.5em;
  }
}

.menu-items {
  height: 50px;
  line-height: 50px;
  padding-left: 1.5em;
}

.menu-items a {
  color: inherit;
}

.menu-items a:hover {
  //text-decoration: none;
  color: gold;
}

section.content {
  background-color: $content;
  padding-bottom: 2em;
}

// watermark image for main page
.content {
  position: relative;
  overflow: hidden;
}
.content::before {
  opacity: 0.05;
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/stbasils.svg);
  background-position: right;
  background-repeat:  no-repeat;
  background-attachment: fixed;
}

// upcoming matches aside on home page
.upcoming {
  background-color: #fcfcfc;
  border-radius: 0.7rem;
  margin: 0 auto;
  border: 1px solid #222;
  width: 80%; // on small
  margin-top: 1em; // on small
  h4 {
    background-color: #222;
    color: #fcfcfc;
    padding: 0.3em;
    margin: 0;
    border-radius: 0.7rem 0.7rem 0 0;    
  }
  td:first-child {
    max-width: 3em;
  }
  table {
    margin-bottom: 0;
  }
}

footer {
  background-color: inherit;
}

footer nav {
  //min-width: 40%;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  margin: 2rem 0 2rem 0;
}

h2 {
  font-family: sans-serif;
  text-align: center;
  margin: 1rem 0 2rem 0;
}

h3 {
  font-family: sans-serif;
}

h4 {
  text-align: center;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.foot {
  margin: 0 auto;
  a {
    color: white;
  }
  a:hover {
    color: $logo-gold;
    text-decoration: none;
    .shirt-outline {
      fill: $logo-gold;
    }
  }
  img, svg {
    height: 2.5em;
    width: 2.5em;
    display: block;
    margin: 0 auto;    
  }
  div {
    color: white;
    text-align: center;
    margin-bottom: 1em;
  }
}

.logo {
  font-size: 2em;
  color: $logo-gold;
  float: right;
  margin-right: 1em;
  span {
    margin-left: -0.3em;
  }
  img {
    height: 1.7em;
  }
}

#rules li {
  margin-bottom: 0.5em;
  font-size: 1.05em;
}

.sidebar {
  margin: 1em;
  background-color: inherit;
  border: 1px solid black;
  h3 {
    width: 100%;
    background-color: $sidebar-head;
    color: white;
    text-align: center;
    padding: 0.3em;
    font-size: 1.3rem;
  }
  p {
    padding: 0 0.3em;
  }
}

// set size of flag, ensure a 4:3 image ratio
.team-flag {
  width: 15em;
  &>div {
    width: 100%;
    padding-bottom: 75%;
  } 
}

// add a gap between online flag icon and team name
.flag-icon {
  margin: 0 0.3em;
}

// override flash message styling
.alert {
  border-radius: 0;
  margin-bottom: 0;
}

.attributions li {
  font-size: 0.9em;
}

.sideteam {
  border-right: 4px solid #eee;
  text-align: center;
}

.team-logo {
  max-width: 35%;
  margin: 1em auto;
  display: block;
}

@import 'sass/_media'; // last
