@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);
@import url(/assets/flags/css/flag-icon.min.css);

// colours
$cd: #ff0; // correct goal difference
$cs: #0f0; // correct score
$cr: #66f; // correct result
$wj: #f66; // wrong result on joker
$table_quals: #6c6; // qualifying teams in group table

// partials
@import 'sass/_tables';
@import 'sass/_forms';

body {
  background-color: #fcfcfc;
}

// debug screen for showing JSON passed to view
.debug {
  background-color: #222;
  color: #fff;
  font-family: monospace;
  pre {
    color: inherit;
  }
}

header {
  background-color: #222;
  color: #fff;
  margin-bottom: 1em;
}

// set size of flag, ensure a 4:3 image ratio
.team-flag {
  width: 15em;
  &>div {
    width: 100%;
    padding-bottom: 75%;
  } 
}

// add a gap between online flag icon and team name
.flag-icon {
  margin: 0 0.3em;
}

.sideteam {
  border-right: 4px solid #eee;
  text-align: center;
}

.logo {
  max-width: 60%;
  margin: 1em auto;
  display: block;
}

@import 'sass/_media'; // last
