<section style="margin-left: 5em;">
  <h3>Create a new user league</h3>
  <p>Complete the form below to request a new user league. The request must be approved by a Goalmine admin before it will be visible. Once the league has been created, you will be set as the organiser.</p>
  <p>If you set the league to be public, anyone can join the league.</p>
  <p>The default setting is private which means you, as the organiser, will need to manage any requests to join the league. You will see a list of all pending requests on your home page.</p>

  <form action="/leagues/add" method="POST">
    <input placeholder="title of league" class="form-control" type="text" name="name" />
    <textarea placeholder="add a description of the league. markdown/emoji are supported. (max 255 chars)" class="form-control" name="desc" id="" cols="30" rows="7"></textarea>
    <input class="form-check-input" name="public" type="checkbox"> Public
    <input type="submit" class="form-control btn btn-info" value="submit" />
  </form>
</section>