<section class="content row justify-content-center">

  <div class="col-md-8">
  <h2>About</h2>
    <p>Goalmine is a web-based football prediction game. For each match, predict what you think the final score will be. The closer you are to the actual result, the more points you score. Play your joker on the score you think is most likely and double your points. The player with the most points at the end of the tournament is the winner.</p>

    <p>Predict the results of each of the 48 group games, and each of the 15 knock-out matches (including the pointless 3/4 place play off game ). As with previous goalmine competitions, you can create your own user leagues for you and your friends.</p>

    <p>The game costs £2.00 to play for the tournament. The winner after all games have been played will receive <strong>80%</strong> of the pot. The remaining <strong>20%</strong> will go to a charity picked by the person with the lowest score (that makes a prediction on each game). If you want to play for bigger stakes, find (or create) a user league with its own entry.</p>

    <p>The game is invitation-only &mdash; you must be invited by an existing member to create an account and play.</p>
  </div>
</section>