<section class="content row justify-content-center">

  <div class="col-md-8">
  <h2>About</h2>
    <p>Goalmine is a web-based football prediction game. For each match, predict what you think the final score will be. The closer you are to the actual result, the more points you score. Play your joker on the score you think is most likely and double your points. The player with the most points at the end of the tournament is the winner.</p>

    <p>Predict the results of each of the 48 group games, and each of the 15 knock-out matches (including the pointless 3/4 place play off game ). As with previous goalmine competitions, you can create your own user leagues for you and your friends.</p>

    <p>The game costs £2.00 to play for the tournament. The winner after all games have been played will receive <strong>80%</strong> of the pot. The remaining <strong>20%</strong> will go to a charity picked by the person with the lowest score (that makes a prediction on each game). If you want to play for bigger stakes, find (or create) a user league with its own entry.</p>

    <p>The game is invitation-only &mdash; you must be invited by an existing member to create an account and play.</p>

    <a name="attributions"><h3>Attributions</h3></a>
    <ol class="attributions">
      <li>Luzhniki Stadium image<cite class="text-muted"> - By Mos.ru, CC BY 4.0, <a href="https://commons.wikimedia.org/w/index.php?curid=61780950">commons.wikimedia.org</a></cite></li>
      <li>Otkrytiye Arena image<cite class="text-muted"> - By Mos.ru, CC BY 4.0, <a href="https://commons.wikimedia.org/w/index.php?curid=49836471">commons.wikimedia.org</a></cite></li>
      <li>Krestofsky Stadium image<cite class="text-muted"> - By A.Savin (Wikimedia Commons · WikiPhotoSpace) - Own work, FAL, <a href="https://commons.wikimedia.org/w/index.php?curid=61625110">commons.wikimedia.org</a></cite></li>
      <li>Kaliningrad Stadium image<cite class="text-muted"> - By Dmitry Rozhkov - Own work, CC BY-SA 4.0, <a href="https://commons.wikimedia.org/w/index.php?curid=68190583">commons.wikimedia.org</a></cite></li>
      <li>Kazan Arena image<cite class="text-muted"> - By A.Savin (Wikimedia Commons · WikiPhotoSpace) - Own work, FAL, <a href="https://commons.wikimedia.org/w/index.php?curid=52641697">commons.wikimedia.org</a></cite></li>
      <li>Nizhny Novgorod Stadium image <cite class="text-muted"> - By Bestalex - Own work, CC0, <a href="https://commons.wikimedia.org/w/index.php?curid=68190583">commons.wikimedia.org</a></cite></li>
      <li>Volgograd Arena image<cite class="text-muted"> - By Mos.ru, CC BY 4.0, <a href="https://commons.wikimedia.org/w/index.php?curid=68721245">commons.wikimedia.org</a></cite></li>
      <li>Rostov Arena image<cite class="text-muted"> - By JukoFF - Own work, CC BY-SA 4.0, <a href="https://commons.wikimedia.org/w/index.php?curid=68445136">commons.wikimedia.org</a></cite></li>
      <li>Mordovia Arena image<cite class="text-muted"> - By Эрзянин - Own work, CC BY-SA 4.0, <a href="https://commons.wikimedia.org/w/index.php?curid=68878382">commons.wikimedia.org</a></cite></li>
      <li>Fisht Olympic Stadium image<cite class="text-muted"> - By Эдгар Брещанов, CC BY-SA 3.0, <a href="https://commons.wikimedia.org/w/index.php?curid=60391596">commons.wikimedia.org</a></cite></li>
      <li>Ekaterinburg Arena image<cite class="text-muted"> - By Фальшивомонетчик - Own work, CC BY-SA 4.0, <a href="https://commons.wikimedia.org/w/index.php?curid=68330459">commons.wikimedia.org</a></cite></li>
    </ol>
  </div>

</section>