<section>
  <h2>Changelog</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Version</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>7.0.0</code></td>
        <td>14 March 2018</td>
        <td>Initial release [<a href="https://github.com/njmanton/yashin/">hash</a>]</td>
      </tr>
    </tbody>
  </table>
</section>