<section class="content row justify-content-center">
  <h2>Accuracy of predictions by game</h2>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div>
        <div id="hc"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5">
      <h4>How to read the chart</h4>
      <p>Each point on the chart is a completed match. The point shows the average prediction of all players (as the goalmap on each match page), normalised to the match result which is represented by the origin.</p>
      <p>For example, the average prediction for <span class="flag-icon flag-icon-ar"></span>Argentina vs Iceland <span class="flag-icon flag-icon-is"></span> was 2.31-0.42, while the actual result was a 1-1 draw. So, Argentina scored 1.31 goals <i>fewer</i> than expected, and Iceland 0.68 <i>more</i>. The further away the point is from the origin, the less accurate the prediction.</p>
      <p>At the end of the group stages, the least accurate prediction was <span class="flag-icon flag-icon-gb-eng"></span>England vs Panama <span class="flag-icon flag-icon-pa"></span>, and the closest was <span class="flag-icon flag-icon-ng"></span>Nigeria vs Argentina <span class="flag-icon flag-icon-ar"></span></p>
      <p><i>Note this is only one measure of accuracy (total goals predicted), that disregards whether the average prediction was the correct outcome (cf. England/Panama and Nigeria/Argentina above).</i></p>
    </div>
  </div>
</section>
<style>
  #hc {
    margin-left: auto;
    margin-right: auto;

  }
</style>