<section class="content row justify-content-center">
  <div class="col-md-8">
    <h2>Help</h2>
    <p>Here are some help files:</p>
    <ul>
      <li><a href="/pages/about">About Goalmine</a></li>
      <li><a href="/pages/how-to-play">How to play</a></li>
      <li><a href="/pages/rules">Rules</a></li>
      <li><a href="/pages/stats">Some stats on the games</a></li>
    </ul>
  </div>
</section>