<section class="content row justify-content-center">
  <div class="col-md-8">
      <h2>How to play</h2>
    
      <h4>Logging in</h4>
      <p>You need to have an account to play Goalmine. You can only get an account through an invitation from an existing player.</p>
      <p>If you have been invited, you should have received an email with an activation code. Click on the link in that email which will take you to the confirmation page to verify your account. You will need to confirm your email and choose a unique username. Then you will be able to log in and start playing.</p>
      
      <h4>Entry Fee</h4>
      <p>The entry fee is &pound;2.00 per player. You will only appear in the main league once your payment has been confirmed. To make a payment, send the entry fee to <a href="https://paypal.me/nickm"><i class="fab fa-paypal"></i> https://paypal.me/nickm</a>. Please make sure that the transaction is personal, and that you mark it clearly with your Goalmine username, otherwise I can't link the fee to your account.</p>
      <p>You may enter more than once using the same email address, but you will require a unique username for each entry.</p>
      
      <h4>Navigating the site</h4>
      <p>You can view most of the pages without being logged in. Lists of matches (e.g. <a href="/matches/7">Peru vs Denmark</a>), teams (<a href="/teams/23">Sweden</a>), goals and venues (<a href="/venues/6">Nizhny Novgorod</a>) can be found at the bottom of each page, along with the help pages. You can also see the current standings in the main league or any user leagues. In general, anywhere you see a match, player, team or venue on a page, you can click on it to see the relevant page.</p>
      <p>Once you've logged in, the top menu bar gives you additional options. You can view your own page, with access to further options, and make or edit your predictions. There are also options for quick access to teams and matches.</p>
      <p>From your own home page (top-left option) you can do the following tasks:
        <ul>
          <li>Invite a friend to join (see below).</li>
          <li>Submit a request for a new user league.</li>
          <li>View any pending requests to join your user league</li>
          <li>Change your password.</li>
        </ul>
      </p>
      <p>Clicking on another player, in a league or prediction table, will show you their predictions. For the knockout stages you will only be able to see others' predictions after the deadline for that match.</p>
      
      <h4>Making predictions</h4>
      <p>The heart of Goalmine is making predictions on the World Cup 2018 games. Your predictions can be accessed from the menu by clicking {{#if user }} <a href="/home">my preds</a>{{ else }}my preds{{/if }}.</p>
      <p>On the predictions screen you can see each available match. A knockout match only becomes available when <strong>both</strong> teams have been decided.</p>
      <p>Available matches have a text box where you can enter a prediction (in the format X-X). Next to the box is a radio button to select your joker. You can play one joker on each group, and one on each knockout phase. The final is automatically a joker match, the 3rd place play-off isn't.</p>
      <p>Playing your joker doubles your score for that games. However, <ins>if you get the result completely wrong (e.g. predict a home win when the result is a draw), you will lose 1 point.</ins> This was introduced in the Euro 2016 competition.</p>
      <p>Changes to predictions and jokers are automatically saved whenever you make a change.</p>
      <p>The deadline for each game is <strong>2 hours</strong> before kick-off. After the deadline you are no longer able to make or edit any predictions, or change your joker if your joker is on an expired match. However, you will be able to see others' predictions if it is a knockout game.</p>
      
      <h4>Inviting other people</h4>
      <p>You can invite as many new people as you wish. Each new player signing up and paying the entry fee adds &pound;1.60 to the jackpot, and 40 pence to the charity pot.</p>
      <p>You can invite a player from the link on your home page. Complete the form with the recipient's email address and, optionally, personalise the message. They will then receive an invitation email (you can opt to send yourself a copy).</p>
      <p>The invite page will also show a list of invites you have made, and their status.</p>
      
      <h4>User leagues</h4>
      <p>As with other Goalmine competitions, you can create and join user leagues.</p>
      <p>You can join as many user leagues as you wish. You will still earn the same points for each game, but you may be in a higher or lower position for each league, depending on the other players.</p>
      <p>You can request your own user league. From your home page, click the '<a href="/leagues/add">create a new user league</a>' link and fill out the form. If your request is accepted then a new user league will be created with you as the organiser.</p>
      <p>To join a league, click on the league's page (you can see all user leagues <a href="/leagues">here</a>). User leagues may be public or private. Public leagues can be joined freely, for private leagues (the default) you must request to join and that request will be forwarded to the league organiser for a decision.</p>

      <h4>So what scores do I pick?</h4>
      <p>Only you can answer that. The <a href="/teams/">teams</a> index page shows the FIFA world rankings for each team, which may give you some idea of the relative strength of two teams.</p>
    
    </div>
  </div>
</section>