<section class="row content justify-content-center">
  <div class="col-md-8" id="rules">
    <h2>Rules</h2>
    <ol>
      <li>The entry fee is <strong>&pound;2.00</strong> per entry. You may register and join a user league without paying, but you will not feature in the main league table, nor be eligible for any prizes.</li>
      <li>There will be one main prize for the player with the highest score at the end of the tournament. The main prize will be <strong>80%</strong> of the total entry fees. The remaining 20% will be donated to charity. The player who finishes <em>last</em> having made a prediction on each game will get the chance to nominate the charity to benefit.</li>
      <li>Players must create an account to take part. To create an account you must be invited by an existing player.</li>
      <li>Players get one joker to play in each group (this includes each first round group A-H, plus each knockout round, L16, QF, SF). The final is automatically a joker match.</li>
      <li>Joker matches score double points. However, if you get your joker match <strong>wrong</strong>, you will lose one point.</li>
      <li>Results will be updated on the site as soon as possible following the game.</li>
      <li>The deadline for making a prediction on a match is <strong>2 hours </strong> before kick-off. After the deadline, no predictions or joker changes can be made.</li>
      <li>Your joker match cannot be moved to another match if the deadline for the match it's currently on has passed.</li>
      <li>Points will be awarded for each prediction as follows:
        <ul>
          <li><strong>5 points</strong> (10 points with joker) - Predicting the correct match score (e.g. Score: 2-1, Prediction 2-1)</li>
          <li><strong>3 points</strong> (6 pts) - Predicting the correct winning margin (e.g. Score: 2-1, Prediction 1-0)</li>
          <li><strong>1 point</strong> (2 pts) - Predicting the correct winner (e.g. Score: 2-1, Prediction 3-0)</li>
          <li><strong>0 points</strong> (-1 pt) - Any other result / no prediction entered</li>
        </ul>
      </li>
      <li>Final scores will be those at the end of play. If a match goes to extra-time, then the final score at the end of extra-time will be counted. Penalty shootouts will <strong>not</strong> count.</li>
      <li>In the unlikely event that any match is not completed in the tournament, that match is null and void and will score zero points.</li>
      <li>In the case of any dispute on results, rules or payments, I am the final arbiter (except for user leagues, described below).</li>
      <li>If you want to set an entry fee and/or prize for a user league, then it's entirely up to you as the organiser of that group to manage - I bear no responsibility for any such agreement.</li>
      <li>You will be able to see other players' predictions at any time during the group phase. Once in the knock-out stages, to prevent any gamesmanship, you will only be able to see others' predictions after the deadline for that match has passed.</li>
      <li>The winner of the competition will be the person with the highest score, after all results have been input. If there is a tie on points at this stage, then the player with the most exact scores (5 points) will be the winner. If the tie still cannot be broken then the number of correct winning margins will be compared. If players are <em>still</em> equal at this point, then the player whose total predicted goals over the competition is closest to the actual goals scored will be the winner. If <em>that</em> doesn't separate things then the prize money will be split evenly between all players sharing the lighest score.</li>
    </ol>
  </div>
</section>
